<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather me-2 feather-shopping-cart">
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>
                <span class="fs-4">Ali Shop</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">

                <a class="
                    me-3 py-2 link-body-emphasis
                    {{#if isProduct}}
                     text-success
                     {{else}}
                     text-decoration-none
                     {{/if}}
                " href="/products">Products</a>
                <a class="me-3 py-2 link-body-emphasis
                    {{#if isAdd}}
                     text-success
                     {{else}}
                     text-decoration-none
                     {{/if}}
                " href="/add">Add</a>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="/login" type="button" class="btn btn-primary {{#if isLogin}} active {{/if}}">Login</a>
                    <a href="/register" type="button" class="btn btn-success {{#if isRegister}} active {{/if}}">Register</a>
                </div>
            </nav>
        </div>
    </header>
</div>