<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                <img src="favicon.png" alt="logo" width="60px">
                <span class="fs-4">Ali Shop</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">

                <a class="
                    me-3 py-2 link-body-emphasis
                    {{#if isProduct}}
                     text-success
                     {{else}}
                     text-decoration-none
                     {{/if}}
                " href="/products">Products</a>
                <a class="me-3 py-2 link-body-emphasis
                    {{#if isAdd}}
                     text-success
                     {{else}}
                     text-decoration-none
                     {{/if}}
                " href="/add">Add</a>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="/login" type="button" class="btn btn-primary {{#if isLogin}} active {{/if}}">Login</a>
                    <a href="/register" type="button"
                        class="btn btn-success {{#if isRegister}} active {{/if}}">Register</a>
                </div>
            </nav>
        </div>
    </header>
</div>